/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 18, 2022, 6:15:46 PM
    Author     : TuaniuLinh
*/


button,
body {
    background: #C28ED2;
    background: -moz-linear-gradient(-45deg, #C28ED2 0%, #7C62B6 50%, #D73E94 100%);
    background: -webkit-linear-gradient(-45deg, #C28ED2 0%, #7C62B6 50%, #D73E94 100%);
    background: linear-gradient(135deg, #C28ED2 0%, #7C62B6 50%, #D73E94 100%);
    background-repeat: no-repeat;
    padding-top: 150px;
}

#img {
    height: 100%;
    width: 100%;
}

#form_login {
    background-color: white;
}

.error {
    color: red;
    padding-top: 10px;
}

@media all and (max-width: 600px) {
    body {
        padding-top: 0;
    }
}
